
    <div class="container">
        <div class="form-image">
            <img src="/img/undraw_sign_up_n6im.svg" alt="">
        </div>
        <div class="form">
            <form action="/create_user"  method="POST">
                <div class="form-header">
                    <div class="title">
                        <h1>Cadastro</h1>
                        <div class="login-button">
   
                        </div>
                    </div>
                </div>
                <div class="input-group">

                    <div class="input-box">
                        <label for="email">Email</label>
                        <input id="email" type="email" name="email" placeholder="Digite o seu Email" required>
                    </div>
                    <div class="input-box">

                        <label for="username">Nome</label>
                        <input id="firstname" type="text" name="name" placeholder="Digite o seu Primeiro Nome" required>
                    </div>


                      <div class="input-box">
                        <label for="number">Tipo de Usuario</label>
                        <input id="number" type="text" name="tipo_usuario" placeholder="Tipo de Usuario">
                    </div>

                    <div class="input-box">
                        <label for="password">Senha</label>
                        <input id="password" type="password" name="senha" placeholder="Digite a sua Senha" required>
                    </div>

    
                </div>

                

                <div class="continue-button">
                    <button><a href="/welcome">Continuar</a></button>
                </div>
            </form>
        
        <div class="content second-content"></div>
    </div>
