<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css's/style.css">
    <title>Cadastro</title>
    
</head>
<body>
    <div class="container">
        <div class="form-image">
            <img src="/img/undraw_sign_up_n6im.svg" alt="">
        </div>
        <div class="form">
            <form action="#">
                <div class="form-header">
                    <div class="title">
                        <h1>Cadastro</h1>
                        <div class="login-button">
   
                        </div>
                    </div>
                </div>
                <div class="input-group">
                    <div class="input-box">
                        <label for="firstname">Primeiro Nome</label>
                        <input id="firstname" type="text" name="firstname" placeholder="Digite o seu Primeiro Nome" required>
                    </div>

                    <div class="input-box">
                        <label for="lastname">Sobrenome</label>
                        <input id="lastname" type="text" name="lastname" placeholder="Digite o seu Sobrenome" required>
                    </div>

                    <div class="input-box">
                        <label for="email">Email</label>
                        <input id="email" type="email" name="email" placeholder="Digite o seu Email" required>
                    </div>

                      <div class="input-box">
                        <label for="number">Telefone</label>
                        <input id="number" type="text" name="number" placeholder="Telefone">
                    </div>

                    <div class="input-box">
                        <label for="password">Senha</label>
                        <input id="password" type="password" name="password" placeholder="Digite a sua Senha" required>
                    </div>

                    <div class="input-box">
                        <label for="password">Confirmar a Senha</label>
                        <input id="password" type="password" name="Confirmpassword" placeholder="Confirme a sua Senha" required>
                    </div>
                </div>

                <div class="continue-button">
                    <button><a href="/home">Continuar</a></button>
                </div>
            </form>
        
        <div class="content second-content"></div>
    </div>
</body>
</html>

