<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrinho</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <h1>Seu Carrinho</h1>
        <a href="index.html" class="home-link">Voltar para Home</a> <!-- Link para a página Home -->
    </header>
    <main>
        <div id="cart-items">
            <!-- Itens do carrinho serão exibidos aqui -->
        </div>
        <button onclick="finalizarCompra()">Finalizar Compra</button>
    </main>

    <script src="script.js"></script>
</body>
</html>
