
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css's/produtos.css">
    <title>Produtos Disponíveis</title>
</head>
<body>


    

    <div class="container">
        <h1>Produtos disponíveis</h1>
        <h2>Categorias:</h2>
        <div class="produtos">
            <div class="produto">
                <img src="/newfiles2/tel.png" alt="Telemóvel" >
                <button href="/categoria/:id_categoria">Telemóveis</button>
            </div>
            <div class="produto">
                <img src="/newfiles2/pc.png" alt="Computador">
                <button href="/categoria/:id_categoria">Computadores</button>
            </div>
            <div class="produto">
                <img src="/newfiles2/game.png" alt="Vídeo Game">
                <button ="/categoria/:id_categoria">Vídeo Games</button>
            </div>
        </div>
    </div>
</body>
</html>