<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>EIMSTORE</title>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css's/globals.css" />
   
</head>
<body>
    <div class="navbar show-menu">
        <div class="header-inner-content ">
            <h1 class="logo">EIM<span>STORE</span></h1>
           
          <div class="atalhos"><a href="/login"><button>LOGIN</button></a>
             <a href="/carrinho"><button>CARRINHO</button></a></div>
            
            <div class="nav icon-container">
             
                <img src="/images/menu.png" class="menu-button" />
            </div>
        </div>
    </div>
    <header>

        <div class="header-inner-content">
            <div class="header-bottom-side">
                <div class="header-bottom-side-left">
                    <h2>Trabalhe com estilo e Velocidade!</h2>
                    <p>
                        Procure sempre reinventer-se em prol daquilo que te acrescenta.
                    </p>
                    
                </div>
                <div class="header-bottom-side-right"></div>
                <img src="/images/gaming-msi-header.png" alt="">
            </div>
        </div>
    </header>

    <!-- Main content -->

    <main>
        <div class="gray-background">
            <div class="page-inner-content">
                <div class="cols cols-3">
                    <img src="/images/products/product-1.png" >
                    
                    <img src="/images/products/product-2.png" >
                    
                    <img src="/images/products/product-3.png" >
                    
                </div>
            </div>
        </div>
        <div>
            <div class="page-inner-content">
                <h3 class="section-title">Produtos Disponiveis</h3>
                <div class="subtitle-underline"></div>
                <div class="cols cols-4">
                    <div class="product">
                        <img src="/images/products/product-4.png" alt="">
                        <p class="product-name">Combo Gamer Meetion</p>
                        <p class="rate">&#9733;&#9733;&#9733;&#9733;&#9734;</p>
                        <p class="product-price">150,000.00 <span>Kz</span></p>
                        <div><a href="/carrinho"><button class="add-to-cart">Adicionar ao carrinho</button></a></div>
                        
                        
                    </div>
                    <div class="product">
                        <img src="/images/products/product-5.png" alt="">
                        <p class="product-name">Msi GeForce Gtx 1650</p>
                        <p class="rate">&#9733;&#9733;&#9733;&#9733;&#9734;</p>
                        <p class="product-price">250,000.00 <span>Kz</span></p>
                        <div><a href="/carrinho"><button class="add-to-cart">Adicionar ao carrinho</button></a></div>
                    </div>
                    <div class="product">
                        <img src="/images/products/product-6.png" alt="">
                        <p class="product-name">DualSense PS5</p>
                        <p class="rate">&#9733;&#9733;&#9733;&#9733;&#9733;</p>
                        <p class="product-price">50,000.00 <span>Kz</span></p>
                     <div><a href="/carrinho"><button class="add-to-cart">Adicionar ao carrinho</button></a></div>
                    </div>
                    <div class="product">
                        <img src="/images/products/product-7.png" alt="">
                        <p class="product-name">Cadeira Gamer Frizzi</p>
                        <p class="rate">&#9733;&#9733;&#9733;&#9734;&#9734;</p>
                        <p class="product-price">120,000.00 <span>Kz</span></p>
                        <div><a href="/carrinho"><button class="add-to-cart">Adicionar ao carrinho</button></a></div>
                    </div>
                </div>
            </div>
            
            <div class="page-inner-content">
                <h3 class="section-title">Ultimos Produtos</h3>
                <div class="subtitle-underline"></div>
                <div class="cols cols-4">
                    <div class="product">
                        <img src="/images/products/product-8.png" alt="">
                        <p class="product-name">IPhone 14 Pro Max 512GB</p>
                        <p class="rate">&#9733;&#9733;&#9733;&#9733;&#9734;</p>
                        <p class="product-price">750,000.00 <span>Kz</span></p>
                       <div><a href="/carrinho"><button class="add-to-cart">Adicionar ao carrinho</button></a></div>
                    </div>
                    <div class="product">
                        <img src="/images/products/product-9.png" alt="">
                        <p class="product-name">Samsung Galaxy S23 Ultra 1TB</p>
                        <p class="rate">&#9733;&#9733;&#9733;&#9733;&#9734;</p>
                        <p class="product-price">650,000.00 <span>Kz</span></p>
                        <div><a href="/carrinho"><button class="add-to-cart">Adicionar ao carrinho</button></a></div>
                    </div>
                    <div class="product">
                        <img src="/images/products/product-10.png" alt="">
                        <p class="product-name">Asus Rog Phone 3 Gamer</p>
                        <p class="rate">&#9733;&#9733;&#9733;&#9733;&#9733;</p>
                        <p class="product-price">45,000.00 <span>Kz</span></p>
                        <div><a href="/carrinho"><button class="add-to-cart">Adicionar ao carrinho</button></a></div>
                    </div>
                    <div class="product">
                        <img src="/images/products/product-11.png" alt="">
                        <p class="product-name">Xiaomi 13 Ultra</p>
                        <p class="rate">&#9733;&#9733;&#9733;&#9734;&#9734;</p>
                        <p class="product-price">350,000.00 <span>Kz</span></p>
                       <div><a href="/carrinho"><button class="add-to-cart">Adicionar ao carrinho</button></a></div>
                    </div>
                    <div class="product">
                        <img src="/images/products/product-12.png" alt="">
                        <p class="product-name">Xbox Series X </p>
                        <p class="rate">&#9733;&#9733;&#9733;&#9733;&#9734;</p>
                        <p class="product-price">150,000.00 <span>Kz</span></p>
                        <div><a href="/carrinho"><button class="add-to-cart">Adicionar ao carrinho</button></a></div>
                    </div>
                    <div class="product">
                        <img src="/images/products/product-13.png" alt="">
                        <p class="product-name">Racingwheel GT480 Ferrari</p>
                        <p class="rate">&#9733;&#9733;&#9733;&#9733;&#9734;</p>
                        <p class="product-price">250,000.00 <span>Kz</span></p>
                        <div><a href="/carrinho"><button class="add-to-cart">Adicionar ao carrinho</button></a></div>
                    </div>
                    <div class="product">
                        <img src="/images/products/product-14.png" alt="">
                        <p class="product-name">PlayStation 5</p>
                        <p class="rate">&#9733;&#9733;&#9733;&#9733;&#9733;</p>
                        <p class="product-price">550,000.00 <span>Kz</span></p>
                     <div><a href="/carrinho"><button class="add-to-cart">Adicionar ao carrinho</button></a></div>
                    </div>
                    <div class="product">
                        <img src="/images/products/product-15.png" alt="">
                        <p class="product-name">Gaming Desktop RTX 3090Ti</p>
                        <p class="rate">&#9733;&#9733;&#9733;&#9734;&#9734;</p>
                        <p class="product-price">120,000.00 <span>Kz</span></p>
                         <div><a href="/carrinho"><button class="add-to-cart">Adicionar ao carrinho</button></a></div>
                    </div>
                </div>
            </div>
        </div>
       
        <div  class="gray-background">
            <div class="header-inner-content">
                <div class="header-bottom-side exclusive-container">
                    <div class="header-bottom-side-left">
                        <h2>Smart Band 4</h2>
                        <p>
                            O Mi Smart Band 4 tem uma tela AMOLOD 39.9% maior que o Mi Band
                             3, tela competamente digital com brilho ajustável, de tal modo
                             que tudo é claro ao máximo
                        </p>
                        <button>Adicionar ao carrinho </button>
                    </div>
                    <div class="header-bottom-side-right"></div>
                    <img src="/images/exclusive.png" alt="">
                </div>
            </div>

        </div>
        <div>
            <div class="page-inner-content">
                <div class="motivations">
                    <div class="motivation">
                        <p>"</p>
                        <p>O estudo é valorização da mente ao serviço da felicidade humana </p>
                        <p class="rate">&#9733;&#9733;&#9733;&#9734;&#9734;</p>
                        <p>François Guizot</p>
                    </div>
                </div>
            </div>
            <div class="page-inner-content">
                <div class="motivations">
                    <div class="motivation">
                        <p>"</p>
                        <p>A mente que se abre para uma nova ideia jamais voltará ao seu tamanho original - E=Mc2 
                        
                        </p>
                        <p class="rate">&#9733;&#9733;&#9733;&#9734;&#9734;</p>
                        <p>Albert Einstein</p>
                    </div>
                </div>
            </div>
            <div class="page-inner-content">
                <div class="motivations">
                    <div class="motivation">
                        <p>"</p>
                        <p>Desafios e superações: equações para a transformação pessoal e desenvolvimento
                            profissional. Eu aceito este novo paradigma! </p>
                        <p class="rate">&#9733;&#9733;&#9733;&#9733;&#9733;</p>
                        <p>NÓS SOMOS UPRA</p>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="gray-background">
        <div class="page-inner-content footer-content">
            <div class="download-options">
                <p>Baixe a nossa Aplicação</p>
                <p>Baixe a nossa Aplicação para Android e iOS</p>
                <div>
                    <img src="/images/app-store.png" alt="">
                    <img src="/images/play-store.png" alt="">
                </div>
            </div>
            <div class="logo-footer">
                <h1 class="logo">EIM<span>STORE</span></h1>
            </div>
            <!--<div class="links-footer">
                <h3>Links úteis</h3>
                <ul>
                    <li>Cupons</li>
                    <li>Politicas</li>
                    <li>Blog Post</li>
                    <li>Torne-se um colaborador</li>
                </ul>
            -->
            </div>
        </div>
    </footer>
    <script>
        const navbar = document.querySelector(".navbar");
        const menuButton = document.querySelector(".menu-button");


        menuButton.addEventListener('click', () => {
            navbar.classList.toggle("show-menu");
        });
    </script>
</body>
</html>