<h1>hiiiiii2</h1>

<div class="produto">
    <div class="produto">
        {{#each produtos}}
                         {{nome_produto}}
                  <br>{{descricao}}
                  <br>{{preco}}
        {{/each}}
    </div>
</div>