<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro das Categorias</title>
</head>
<body>
    
<form action="/user_type" method="post">
    <input type="text" name="type" placeholder="Type" ><br>
    
    <input type="submit" value="Cadastrar">
</form>

<table>
    <tr>
        <td>#</td>
        <td>Nome</td>
    </tr>
    {{#each userType}}
    <tr>
        <td>{{id}}</td>
        <td>{{type}}</td>
    </tr>
    {{/each}}
</table>
</body>
</html>