<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro das categorias</title>
</head>
<body>
    
<form action="/tipo_categoria" method="post">
<label for="tipo_categoria">Tipo de Categoria</label>
    <input type="text" name="tipo_categoria" placeholder="Tipo de Categoria" ><br>
    
    <input type="submit" value="Cadastrar">
</form>

<table>
    <tr>
        <td>#</td>
        <td>Categoria</td>
    </tr>
    {{#each tipoCategoria}}
    <tr>
        <td>{{id}}</td>
        <td>{{tipo_categoria}}</td>

    </tr>
    {{/each}}
</table>
</body>
</html>