/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #f8f9fa; /* Branco acinzentado */
}

/* NAVBAR */
.navbar {
    background: #003366; /* Azul escuro */
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
}

.logo h1 {
    color: #ffffff;
}

.atalhos button {
    background-color: #0056b3; /* Azul médio */
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
}

.atalhos button:hover {
    background-color: #002b80; /* Azul mais escuro */
}

/* MAIN */
.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 20px;
    text-align: center;
}

.banner {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
}

.banner h2 {
    color: #003366;
}

.banner button {
    background-color: #0056b3;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.banner button:hover {
    background-color: #002b80;
}

/* SEÇÃO SOBRE */
.sobre {
    background: #003366;
    color: white;
    text-align: center;
    padding: 40px 20px;
}

.sobre h2 {
    margin-bottom: 10px;
}
