@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

*{

padding: 0;
margin: 0;
box-sizing: border-box;
font-family: 'Roboto Slab' , sans-serif ;

}

body {

width: 100%;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
background: #33373b;
}

.container{
width: 80%;
height: 90vh;
display: flex;
box-shadow: 5px 5px 10px rgba(0, 0, 0, .212);
}

.form-image{
width: 50%;
display: flex;
justify-content: center;
align-items: center;
background: #2206da;
padding: 1rem;
}

.form-image img {
width: 28rem;
}

.form {
width: 50%;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
background-color: #fff;
padding: 1.5rem;
}

.form-header {
margin-bottom: 1.5rem;
display: flex;
justify-content: space-between;
align-items: center;
}

.form {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    padding: 1.5rem;
    }
    
    .form-header {
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    }
    

.form-header h1 {
margin: 0; /* Remove qualquer margem padrão do título */
margin-top: 2rem; /* Ajuste para descer um pouco o título */
}

.login-button {
display: flex;
align-items:center;
}

.login-button button {
border: none;
background-color: #0229aa;
padding: 0.4rem 1rem;
border-radius: 5px;
cursor: pointer;
}

.login-button button:hover {
background-color: #04115a;
}

.login-button button a {
text-decoration: none;
font-weight: 500;
color: #fff;
}

.input-group {
display: flex;
flex-wrap:wrap;
justify-content: space-between;
padding: 1rem 0;
}

.input-box {
display: flex;
flex-direction: column;
margin-bottom: 0.5rem;
flex-basis: calc(50% - 1rem); /* Define a largura de cada coluna */
max-width: calc(50% - 1rem); /* Limita a largura */
}

.input-box input{
margin: 0.6rem 0;
padding: 0.8rem 1.2rem ;
border: none;
border-radius: 10px;
box-shadow: 1px 1px 6px #0000001c;
width: 100%;/*apagar?*/
}

.input-box input:hover {
background-color: #eeeeee75;
}

.input-box input.focus-visible {
outline: 1px solid #6c63ff;
}

.input-box label {
font-size: 0.75rem;
font-weight: 600;
color: #000000c0;
}

.continue-button button {
width: 100%;
margin-top: 0rem;
border: none;
background-color: #0b27fb;
padding: 0.62rem;
border-radius: 5px;
cursor: pointer;
}

.continue-button {
    width: 80%;
    margin-top: 0rem;
    border: none;
    background-color: #0b27fb;
    padding: 0.62rem;
    border-radius: 5px;
    cursor: pointer;

    display: flex;
    justify-content:flex-start;

background-color:rgb(254, 253, 255);
color: #fb530b;
}

.continue-button button a {
text-decoration: none;
font-size: 0.93rem;

font-weight: 500;
color: #fff;
}

@media screen  and (max-width: 1330px) {
.form-image{
display:none;
}

.container{
width: 50%;
}
.form{
width: 100%;
}

@media screen and (max-width: 1064px) {
.container{
width: 90%;
height: auto;

}  

.input-group{
flex-direction:column ;
overflow-y: scroll;
flex-wrap:nowrap;
max-height: 10rem;
padding-right: 5rem;
}



}
}

